.skt-tasks-header {
  display: block;
  height: 10rem;
  width: 100%;
  animation-name: fade-in;
  animation-duration: .8s;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    @media (max-width: 850px) {
      flex-direction: row;
      gap: 2.5rem;
    }
  }

  &__main-header {
    color: var(--primary-black);
    font-weight: 600;
    font-size: 2rem;
  }

  &__subtitle {
    color: var(--basic-5);
    font-weight: 400;
    font-size: 1rem;
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(0.25rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
