<skt-ui-content header="Zadania" subHeader="Przeglądaj swoje zadania i zarządzaj nimi">
  <div class="skt-tasks__actions" header-actions>
    <skt-ui-button>
      Dodaj nowe zadanie
    </skt-ui-button>
  </div>
  <skt-tasks-content content></skt-tasks-content>

  <skt-ui-side-content>
    <skt-ui-side-content-header title="Szczegóły raportu">
      <skt-ui-side-content-header-actions [config]="actionsConfig"></skt-ui-side-content-header-actions>
    </skt-ui-side-content-header>
    <skt-tasks-side-content></skt-tasks-side-content>
  </skt-ui-side-content>
</skt-ui-content>
