<skt-ui-content header="Zadania" subHeader="Przeglądaj swoje zadania i zarządzaj nimi">
  <div class="skt-tasks__actions" header-actions>
    <skt-ui-button (click)="onAddNewClick()">
      Dodaj nowe zadanie
    </skt-ui-button>
  </div>
  <skt-tasks-content content></skt-tasks-content>
  <skt-ui-side-content>
    <skt-ui-side-content-header title="Szczegóły raportu">
      <skt-ui-side-content-header-actions [config]="actionsConfig" text="zadanie"></skt-ui-side-content-header-actions>
    </skt-ui-side-content-header>

    <skt-ui-side-content-section>
      <skt-tasks-teams></skt-tasks-teams>
    </skt-ui-side-content-section>

    <skt-ui-side-content-section>
      <skt-ui-side-content-section-header title="Podstawowe informacje"></skt-ui-side-content-section-header>
      <skt-tasks-basic-info></skt-tasks-basic-info>
    </skt-ui-side-content-section>

    <skt-ui-side-content-section>
      <skt-ui-side-content-section-header title="Przypisane raporty"></skt-ui-side-content-section-header>
      <skt-tasks-reports></skt-tasks-reports>
    </skt-ui-side-content-section>
  </skt-ui-side-content>
</skt-ui-content>
