.skt-tasks-teams {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;

  &__team-type {
    font-size: 0.75rem;
    color: var(--primary-3);
  }

  &__team {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__team-info {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &--right {
      text-align: end;
    }
  }

  &__team-logo {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 0.5rem;
    background: url("/assets/images/team-placeholder.png");
    background-size: contain;
  }
}
