<skt-ui-table [tableDef]="tableDef">
  @for (item of playersStore.players(); track item.id) {
  <skt-ui-table-row [isActive]="this.playersStore.activePlayer() === item" (rowClicked)="onRowClicked(item.id)">
    <skt-ui-table-row-cell>
      <div class="skt-players-content__team-logo"></div>
    </skt-ui-table-row-cell>
    <skt-ui-table-row-cell>{{ item.firstName + ' ' + item.lastName }}</skt-ui-table-row-cell>
    <skt-ui-table-row-cell>{{ item.age }}</skt-ui-table-row-cell>
    <skt-ui-table-row-cell>{{ item.team.name }}</skt-ui-table-row-cell>
  </skt-ui-table-row>
  }
</skt-ui-table>
