.reports-basic-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  .basic-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .basic-info-element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .info-name {
    color: var(--basic-4);
    font-size: 13px;
    margin-bottom: -4px;
  }

  .info-data {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
  }

  .true-cell,
  .false-cell {
    display: block;
    padding: 8px 16px;
    border-radius: 14px;
    text-align: center;
    font-size: 10px;
    font-weight: 500;
  }

  .true-cell {
    background-color: #d1d6e1;
    color: #536b9a;
  }

  .false-cell {
    background-color: #decfcf;
    color: #8b3f3f;
  }
}
