<skt-ui-tabs (tabChange)="handleTabChange($event)">
  <skt-ui-tab id="info">Informacje podstawowe</skt-ui-tab>
  <skt-ui-tab id="password">Zmień hasło</skt-ui-tab>
</skt-ui-tabs>

@if(tab() === 'info') {
<div class="skt-dashboard-user-profile__section-wrapper">
  <skt-ui-label-container>
    <skt-ui-label [valueClass]="'big'">
      <span label>Imię</span>
      {{ authStore.firstName() }}
    </skt-ui-label>
  </skt-ui-label-container>

  <skt-ui-label-container>
    <skt-ui-label [valueClass]="'big'">
      <span label>Nazwisko</span>
      {{ authStore.lastName() }}
    </skt-ui-label>
  </skt-ui-label-container>

  <skt-ui-label-container>
    <skt-ui-label [valueClass]="'big'">
      <span label>Rola</span>
      {{ authStore.roleName() }}
    </skt-ui-label>
  </skt-ui-label-container>

  <skt-ui-label-container>
    <skt-ui-label [valueClass]="'big'">
      <span label>Email</span>
      {{ authStore.email() }}
    </skt-ui-label>
  </skt-ui-label-container>

  <skt-ui-label-container>
    <skt-ui-label [valueClass]="'big'">
      <span label>Region</span>
      {{ authStore.regionName() || 'Brak informacji' }}
    </skt-ui-label>
  </skt-ui-label-container>

  <skt-ui-label-container>
    <skt-ui-label [valueClass]="'big'">
      <span label>Telefon</span>
      {{ authStore.phoneNumber() || 'Brak informacji' }}
    </skt-ui-label>
  </skt-ui-label-container>
</div>

} @else {
<div class="skt-dashboard-user-profile__section-wrapper-password">
  <div class="skt-dashboard-user-profile__section-wrapper-password-header">
    Aby zmienić swoje hasło, wpisz aktualne hasło w pierwszym polu, następnie wpisz nowe hasło w nowym polu i na końcu
    potwierdź hasło
  </div>

  <div class="skt-dashboard-user-profile__section-wrapper-password-inputs">
    <skt-ui-input-password [(ngModel)]="current" />
    <skt-ui-input-password [(ngModel)]="newPassword" label="Nowe hasło" placeholder="Wpisz swoje nowe hasło" />
    <skt-ui-input-password
      [(ngModel)]="confirmPassword"
      label="Potwierdź hasło"
      placeholder="Potwierdź swoje nowe hasło"
    />
  </div>

  <skt-ui-button [disabled]="isDisabled()" (click)="onButtonClick()">Zmień hasło</skt-ui-button>
</div>
}
