<div class="skt-dashboard-user-profile__section-wrapper">
  <div class="information-section personal">
    <div class="skt-dashboard-user-profile__info-row">
      <skt-ui-label-container>
        <skt-ui-label [valueClass]="'big'">
          <span label>Imię</span>
          {{ authStore.firstName() }}
        </skt-ui-label>
      </skt-ui-label-container>

      <skt-ui-label-container>
        <skt-ui-label [valueClass]="'big'">
          <span label>Nazwisko</span>
          {{ authStore.lastName() }}
        </skt-ui-label>
      </skt-ui-label-container>
    </div>

    <skt-ui-label-container>
      <skt-ui-label [valueClass]="'big'">
        <span label>Rola</span>
        {{ authStore.roleName() }}
      </skt-ui-label>
    </skt-ui-label-container>
  </div>

  <div>
    <div class="skt-dashboard-user-profile__info-row">
      <skt-ui-label-container>
        <skt-ui-label [valueClass]="'big'">
          <span label>Email</span>
          {{ authStore.email() }}
        </skt-ui-label>
      </skt-ui-label-container>
    </div>

    <skt-ui-label-container>
      <skt-ui-label [valueClass]="'big'">
        <span label>Region</span>
        {{ authStore.regionName() }}
      </skt-ui-label>
    </skt-ui-label-container>
  </div>

  <div>
    <div class="skt-dashboard-user-profile__info-row">
      <skt-ui-label-container>
        <skt-ui-label [valueClass]="'big'">
          <span label>Telefon</span>
          {{ authStore.phoneNumber() }}
        </skt-ui-label>
      </skt-ui-label-container>
    </div>
  </div>
</div>

<skt-ui-label-container style="margin-bottom: 1rem">
  <skt-ui-label>
    <span label>Statystyki raportów</span>
  </skt-ui-label>
</skt-ui-label-container>
<div class="skt-dashboard-user-profile__section-wrapper">
  <skt-ui-icon-card iconName="play-list-check" type="success">
    <div class="skt-dashboard-user-profile__rating-wrapper">
      <span class="skt-dashboard-user-profile__rating-title">{{ 'Ukończone' }}</span>
      <span class="skt-dashboard-user-profile__rating-value">{{ '24' }}</span>
    </div>
  </skt-ui-icon-card>
  <skt-ui-icon-card iconName="play-list-remove" type="warn">
    <div class="skt-dashboard-user-profile__rating-wrapper">
      <span class="skt-dashboard-user-profile__rating-title">{{ 'Nieukończone' }}</span>
      <span class="skt-dashboard-user-profile__rating-value">{{ '12' }}</span>
    </div>
  </skt-ui-icon-card>
  <skt-ui-icon-card iconName="play-list-search">
    <div class="skt-dashboard-user-profile__rating-wrapper">
      <span class="skt-dashboard-user-profile__rating-title">{{ 'Wszystkie' }}</span>
      <span class="skt-dashboard-user-profile__rating-value">{{ '36' }}</span>
    </div>
  </skt-ui-icon-card>
</div>
