.skt-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
  max-width: 20rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__header-message {
    font-size: 1.625rem;
    font-weight: 600;
    color: var(--basic-1);
  }

  &__header-submessage {
    font-size: 0.875rem;
    color: var(--primary-1);
    font-weight: 500;
  }
}
