<div class="skt-analysis-create__form">
  @if(analysis.step() === 0) {
    <div (click)="onBoxClick('report')" class="skt-analysis-create__type-box" [class.skt-analysis-create__type-box--active]="analysis.type() === 'report'">
      <skt-ui-icon iconName="user" />
      Raport
    </div>
    <div (click)="onBoxClick('note')" class="skt-analysis-create__type-box" [class.skt-analysis-create__type-box--active]="analysis.type() === 'note'">
      <skt-ui-icon iconName="notes" />
      Notatka
    </div>
  } @else if(analysis.step() === 1) {
    <div class="skt-analysis-create__create-container">
      @if(analysis.type() === 'report') {
        <skt-analysis-report-create />
      } @else {
        <skt-analysis-note-create />
      }
    </div>
  }
</div>

<div class="skt-analysis-create__buttons">
  @if(analysis.step() !== 0) {
    <skt-ui-simple-button (click)="onPreviosStepClick()">Wróć do wyboru typu</skt-ui-simple-button>
  }

  <skt-ui-button [disabled]="!analysis.type()" (click)="onNextStepClick()">{{ analysis.step() === 1 ? 'Stwórz analizę' : 'Następny krok' }}</skt-ui-button>
</div>
