<skt-ui-side-content>
  <skt-ui-side-content-header title="Szczegóły zawodnika" (mobileBackClick)="onMobileBackClick()">
    <skt-ui-side-content-header-actions [config]="actionsConfig"></skt-ui-side-content-header-actions>
  </skt-ui-side-content-header>

  <skt-ui-side-content-section>
    <skt-players-name />
  </skt-ui-side-content-section>

  <skt-ui-side-content-section>
    <skt-ui-side-content-section-header title="Podstawowe informacje"></skt-ui-side-content-section-header>
    <skt-players-basic-info></skt-players-basic-info>
  </skt-ui-side-content-section>

  @if(playersStore.activePlayer(); as player) {
  <skt-ui-side-content-section>
    <skt-ui-side-content-section-header title="Informacje o budowie ciała"></skt-ui-side-content-section-header>
    <skt-ui-label-container>
      <skt-ui-label>
        <span label>Postawa fizyczna</span>
        {{ player.physique }}
      </skt-ui-label>
      <skt-ui-label>
        <span label>Wysokość (w cm)</span>
        {{ player.height }}
      </skt-ui-label>
      <skt-ui-label>
        <span label>Masa ciała (w kg)</span>
        {{ player.weight }}
      </skt-ui-label>
    </skt-ui-label-container>
  </skt-ui-side-content-section>
  } @if(playersStore.activePlayer(); as player) {
  <skt-ui-side-content-section>
    <skt-ui-side-content-section-header title="Informacje systemowe"></skt-ui-side-content-section-header>
    <skt-ui-label-container>
      <skt-ui-label>
        <span label>Dodany do systemu</span>
        {{ player.createdAt | date : 'fullDate' : '' : 'pl' }}
      </skt-ui-label>
      <skt-ui-label>
        <span label>Ostatnia modyfikacja</span>
        {{ player.updatedAt | date : 'fullDate' : '' : 'pl' }}
      </skt-ui-label>
    </skt-ui-label-container>
  </skt-ui-side-content-section>
  }
</skt-ui-side-content>
