<skt-ui-side-content>
  <skt-ui-side-content-header title="Szczegóły druzyny" (mobileBackClick)="onMobileBackClick()">
    <skt-ui-side-content-header-actions [config]="actionsConfig"></skt-ui-side-content-header-actions>
  </skt-ui-side-content-header>

  <skt-ui-side-content-section>
    <skt-team-title></skt-team-title>
  </skt-ui-side-content-section>

  <skt-ui-side-content-section>
    <skt-ui-side-content-section-header title="Podstawowe informacje"></skt-ui-side-content-section-header>
    <skt-teams-basic-info></skt-teams-basic-info>
  </skt-ui-side-content-section>

  @if(teamsStore.activeTeam(); as team) {
  <skt-ui-side-content-section>
    <skt-ui-side-content-section-header title="Informacje systemowe"></skt-ui-side-content-section-header>
    <skt-ui-label-container>
      <skt-ui-label>
        <span label>Dodany do systemu</span>
        {{ team.createdAt | date : 'fullDate' : '' : 'pl' }}
      </skt-ui-label>
      <skt-ui-label>
        <span label>Ostatnia modyfikacja</span>
        {{ team.updatedAt | date : 'fullDate' : '' : 'pl' }}
      </skt-ui-label>
    </skt-ui-label-container>
  </skt-ui-side-content-section>
  }

  <skt-ui-side-content-section>
    <skt-ui-side-content-section-header-action
      title="Przypisani zawodnicy"
      icon="add-r"
      iconColor="#2f4d47"
    ></skt-ui-side-content-section-header-action>
    <skt-teams-players></skt-teams-players>
  </skt-ui-side-content-section>
</skt-ui-side-content>
