<div class="skt-analysis-report-create__section">
  <div class="skt-analysis-report-create__filters-title">
    Filtry ocen
  </div>
  <div class="skt-analysis-report-create__filters-subtitle">Wypełnij filtry, które Cię interesują</div>

  @if(analysis.reportFilters(); as filters) {
    @if(analysis.reportFiltersGroup(); as group) {
      <div [formGroup]="group" class="skt-analysis-report-create__filters">
        @for(filter of filters; track filter.name) {
          <div class="skt-analysis-report-create__filter">
            <skt-predicate-filter [formControlName]="filter.name" [label]="filter.label" />
          </div>
        }
      </div>
    }
  }
</div>

<div class="skt-analysis-report-create__section">
  <div class="skt-analysis-report-create__filters-title">
    Filtry pól raportów
  </div>
  <div class="skt-analysis-report-create__filters-subtitle">Wypełnij filtry charakterystyczne dla raportów</div>

  <div class="skt-analysis-report-create__field-filters">
    <skt-ui-input-search
    [formControl]="playerControl"
    label="Zawodnik raportu"
    placeholder="Wyszukaj zawodnika"
    searchType="player"
  />

  <skt-ui-input-search
  [formControl]="regionControl"
  label="Region raportu"
  placeholder="Wyszukaj region"
  searchType="region"
/>
  </div>
</div>
