<skt-ui-tabs (tabChange)="handleTabChange($event)">
  <skt-ui-tab id="assigned">Przypisane</skt-ui-tab>
  <skt-ui-tab id="finished">Ukończone</skt-ui-tab>
  <skt-ui-tab id="unassigned">Wolne</skt-ui-tab>
</skt-ui-tabs>

<div class="skt-tasks-content__tasks">
  @for (task of tasksStore.tasks(); track task.id) {
  <skt-ui-list-card
    class="skt-tasks-content__tasks-card"
    [isActive]="tasksStore.activeTask()?.id === task.id"
    (click)="handleTaskClick(task.id)"
  >
    <div
      class="skt-tasks-content__tasks-card-content"
      [class.skt-tasks-content__tasks-card-content--active]="tasksStore.activeTask()?.id === task.id"
    >
      <skt-ui-label>
        <div label><span class="skt-tasks-content__tasks-card-header">Mecz</span> | {{ task.type ? 'Online' : 'Na miejscu' }}</div>
        {{ task.hostTeam.name }} vs {{ task.guestTeam.name }}
      </skt-ui-label>

      <skt-ui-label>
        <div label><span class="skt-tasks-content__tasks-card-header">Data</span> | Za 4 dni</div>
        {{ (task.startDate | date) || 'Brak daty' }}
      </skt-ui-label>

      @if((device.isMobile$ | async) === false) {
      <skt-ui-label>
        <div label>Miejsce wydarzenia</div>
        {{ task.location || 'Brak informacji' }}
      </skt-ui-label>
      }
    </div>
  </skt-ui-list-card>
  }
</div>
