<skt-ui-tabs (tabChange)="handleTabChange($event)">
  <skt-ui-tab id="assigned">Przypisane</skt-ui-tab>
  <skt-ui-tab id="finished">Ukończone</skt-ui-tab>
  <skt-ui-tab id="unassigned">Wolne</skt-ui-tab>
</skt-ui-tabs>

<div class="skt-tasks-content__tasks">
  @for (item of tasksService.getAllTasks(); track item.id) {
    <skt-ui-list-card class="skt-tasks-content__tasks-card" [isActive]="(tasksService.activeTask$ | async)?.id === item.id" (click)="handleTaskClick(item.id)">
      <div class="skt-tasks-content__tasks-card-content" [class.skt-tasks-content__tasks-card-content--active]="(tasksService.activeTask$ | async)?.id === item.id">
        <skt-ui-label>
          <div label>
            <span class="skt-tasks-content__tasks-card-header">Mecz</span> | Dojazdowe
          </div>
          FC Barcelona vs Real Madryt 
        </skt-ui-label>

        <skt-ui-label>
          <div label>
            <span class="skt-tasks-content__tasks-card-header">Data</span> | Za 4 dni
          </div>
          Niedziela, 4. stycznia
        </skt-ui-label>

        @if((device.isMobile$ | async) === false) {
          <skt-ui-label>
            <div label>Godzina</div>
            21:00
          </skt-ui-label>
        }
      </div>
    </skt-ui-list-card>
  }
</div>
