@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "css.gg/icons/icons.scss";

:root {
  --ggs: 0.85;

  // ACCENT COLORS
  --primary-black: #060606;
  --primary-white: #f5f5f5;

  // WARN COLORS
  --warn: #ec5b5b;
  --warn-light: #DECFCF;

  // BASIC COLORS
  --basic-1: #1b1b1b;
  --basic-3: #353535;
  --basic-4: #4e4e4e;
  --basic-5: #818181;
  --basic-6: #9a9a9a;
  --basic-7: #b3b3b3;
  --basic-8: #cccccc;
  --basic-10: #cbcbcb;

  // PRIMARY COLORS
  --primary: #183932;
  --primary-1: #2f4d47;
  --primary-2: #46615b;
  --primary-3: #5d7470;
  --primary-4: #748884;
  --primary-5: #a3b0ad;
  --primary-6: #d1d7d6;
  --primary-7: #e8ebeb;

  // AUXILIARY COLORS:
  --blue-dark: #536B9A;
  --blue-light: #D1D6E1;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-white);
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(0.25rem);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-1);
  border-radius: 1rem;
}

::-webkit-scrollbar-button {
  display: none;
}
