<skt-ui-side-content>
  <skt-ui-side-content-header title="Szczegóły raportu">
    <skt-ui-side-content-header-actions [config]="actionsConfig"></skt-ui-side-content-header-actions>
  </skt-ui-side-content-header>

  <skt-ui-side-content-section>
    <skt-note-title></skt-note-title>
  </skt-ui-side-content-section>

  <skt-ui-side-content-section>
    <skt-ui-side-content-section-header-action
      title="Podstawowe informacje"
      icon="add-r"
      iconColor="#2f4d47"
    ></skt-ui-side-content-section-header-action>
    <skt-notes-basic-info></skt-notes-basic-info>
  </skt-ui-side-content-section>
</skt-ui-side-content>
