<skt-ui-table [tableDef]="tableDef">
  <skt-ui-table-row *ngFor="let item of teamsStore.teams() | infinite | search | async" [isActive]="this.teamsStore.activeTeam() === item" (rowClicked)="onRowClicked(item.id)">
    <skt-ui-table-row-cell>
      <div class="skt-teams-content__team-logo"></div>
    </skt-ui-table-row-cell>
    <skt-ui-table-row-cell>{{ item.name || 'Brak informacji' }}</skt-ui-table-row-cell>
    <skt-ui-table-row-cell>{{ item.city || 'Brak informacji' }}</skt-ui-table-row-cell>
    <skt-ui-table-row-cell>{{ item.country || 'Brak informacji' }}</skt-ui-table-row-cell>
  </skt-ui-table-row>

  @if(teamsStore.isLoading()) {
    <skt-ui-loader />
  }
</skt-ui-table>
