<skt-ui-side-content>
    <skt-ui-side-content-header title="Szczegóły zadania" (mobileBackClick)="onMobileBackClick()">
      <skt-ui-side-content-header-actions [config]="actionsConfig"></skt-ui-side-content-header-actions>
    </skt-ui-side-content-header>

    <skt-ui-side-content-section>
      <skt-tasks-teams></skt-tasks-teams>
    </skt-ui-side-content-section>

    <skt-ui-side-content-section>
      <skt-ui-side-content-section-header title="Podstawowe informacje"></skt-ui-side-content-section-header>
      <skt-tasks-basic-info></skt-tasks-basic-info>
    </skt-ui-side-content-section>

    <skt-ui-side-content-section>
      <skt-ui-side-content-section-header-action title="Przypisane notatki" buttonText="Dodaj notatke" icon="file-document" iconColor="#2f4d47" ></skt-ui-side-content-section-header-action>
      <skt-tasks-reports></skt-tasks-reports>
    </skt-ui-side-content-section>

    <skt-ui-side-content-section>
      <skt-ui-side-content-section-header-action title="Przypisane raporty" icon="notes" buttonText="Dodaj raport" iconColor="#2f4d47"></skt-ui-side-content-section-header-action>
      <skt-tasks-reports></skt-tasks-reports>
    </skt-ui-side-content-section>
  </skt-ui-side-content>
