.skt-note-title {
  display: flex;
  gap: 1.5rem;

  &__logo {
    display: block;
    width: 4rem;
    min-width: 4rem;
    height: 4rem;
    background: url("/assets/images/avatar-placeholder.png");
    background-size: contain;
    border-radius: 0.5rem;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.25rem;
  }

  &__note-name {
    font-size: 1rem;
    font-weight: 500;
  }

  &__note-position {
    color: var(--primary-3);
    font-size: 0.875rem;
  }
}
