@if(usersStore.activeUser(); as user) {
<skt-ui-label-container>
    <skt-ui-label>
      <span label>Imię</span>
      {{ user.firstName }}
    </skt-ui-label>
    <skt-ui-label>
      <span label>Nazwisko</span>
      {{ user.lastName }}
    </skt-ui-label>
  <skt-ui-label>
    <span label>Email</span>
    {{ user.email }}
  </skt-ui-label>
  <skt-ui-label>
    <span label>Numer telefonu</span>
    {{ user.phoneNumber ?? "-" }}
  </skt-ui-label>
  <skt-ui-label>
    <span label>Region</span>
    {{ user.region ?? "-" }}
  </skt-ui-label>
</skt-ui-label-container>
}