.skt-dashboard-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 0;

  @media (max-width: 850px) {
    padding: 0;
    flex-direction: row-reverse;
  }

  &__avatar-input {
    display: none;
  }

  &__avatar-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__avatar-loader.skt-ui-loader {
      padding: 0 !important;
  }

  &__avatar-overlay {
    opacity: 0;
    transition: opacity .3s ease;
    background-color: var(--primary-1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    skt-ui-icon {
      color: var(--primary-5);
    };
  }

  &__avatar {
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    height: 64px;
    width: 64px;

    @media (max-width: 850px) {
      width: 2.75rem;
    }

    &:hover {
      .skt-dashboard-user__avatar-overlay {
        opacity: 0.5;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    @media (max-width: 850px) {
      align-items: end;
    }
  }

  &__info-name {
    color: var(--basic-8);
    font-weight: 500;
    font-size: 1.25rem;

    @media (max-width: 850px) {
      align-items: end;
      font-size: 1.125rem;
    }
  }

  &__info-role {
    color: var(--basic-5);
    font-weight: 500;
    font-size: 0.8125rem;
  }
}
