<div class="skt-dashboard-user__avatar">
  <img ngSrc="assets/images/avatar.png" [priority]="true" width="64" height="64" alt="avatar" />
</div>

<div class="skt-dashboard-user__info">
  <span class="skt-dashboard-user__info-name">{{ authStore.firstName() + ' ' + authStore.lastName() }}</span>
  <span class="skt-dashboard-user__info-role">{{ authStore.roleName() | titlecase }}</span>
</div>

@if ((device.isMobile$ | async) === false) {
<div class="skt-dashboard-user__actions">
  <!-- <skt-dashboard-user-actions (actionClicked)="onActionClicked($event)"></skt-dashboard-user-actions> -->
  <skt-dashboard-user-actions></skt-dashboard-user-actions>
</div>
}
