<div class="skt-dashboard-user__avatar">
  @if(authStore.user() && showAvatar()){
    <div class="skt-dashboard-user__avatar-image" [style.background-image]="'url(api/user/images/' + authStore.user()?.id + '.jpeg' + ')'"></div>
  } @else {
    <skt-ui-loader class="skt-dashboard-user__avatar-loader" />
  }

  <input type="file" class="skt-dashboard-user__avatar-input"
       (change)="onFileSelected($event)" #fileUpload>
  <div (click)="onClick()" class="skt-dashboard-user__avatar-overlay">
    <skt-ui-icon iconName="pen" />
  </div>
</div>

<div class="skt-dashboard-user__info">
  <span class="skt-dashboard-user__info-name">{{ authStore.firstName() + ' ' + authStore.lastName() }}</span>
  <span class="skt-dashboard-user__info-role">{{ authStore.roleName() | titlecase }}</span>
</div>

@if ((device.isMobile$ | async) === false) {
<div class="skt-dashboard-user__actions">
  <!-- <skt-dashboard-user-actions (actionClicked)="onActionClicked($event)"></skt-dashboard-user-actions> -->
  <skt-dashboard-user-actions></skt-dashboard-user-actions>
</div>
}
